

<ion-header>
  <ion-navbar>
      <button ion-button menuToggle style="display: block !important">
    <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png"></ion-icon>
  </button>

      <ion-title>Categories Details
         
         
            <span float-right>
            
              <ion-icon class="icon-add" name="heart" style="margin-left: 12px;" (click)="wishlistPage()">
                <ion-badge id="notifications-badge" color="primary">{{countProductsWishlistLocalUpdated}}</ion-badge>
              </ion-icon> 
              
              <ion-icon class="icon-add" name="cart" style="margin-left: 12px;" (click)="cartPage()">
                <ion-badge id="notifications-badge" color="primary">{{countProductsCartLocalUpdated}}</ion-badge>
              </ion-icon> 
            
          </span>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content >

  <div *ngIf="!productsListInformation || productsListInformation.length === 0;else other_content">
    <p>No data found</p>
  </div>
  <!-- <ion-col col-6 class="columngrid" *ngFor="let categoryItem of productCategoryInformation |filter:searchText | paginate: {itemsPerPage: 10,currentPage: p}"> -->

  
<ng-template #other_content>
  <ion-grid class="product-grid" style="margin-top: 40px;">
    <ion-row class="rowgrid">
      <ion-col class="columngrid" *ngFor="let featuredProducts of productsListInformation |filter:searchText | paginate: {itemsPerPage: 10,currentPage: p}">
        <ion-card>
          <ion-card-header style="justify-content: left">
            <div class="img-box">
              <img [src]="featuredProducts.image" style="width:200px;height:80px ;"
                (click)="productDetailPage(featuredProducts.id,featuredProducts.name,featuredProducts.image,featuredProducts.description,featuredProducts.regular_price,featuredProducts.attribute.pa_make,featuredProducts.attribute.pa_model,featuredProducts.attribute.pa_year,featuredProducts.attribute.pa_yearfrom)">
            </div>
            <ion-icon name="md-heart" class="text-light icon" style="margin-top: 10px;"
              (click)="addToWishList(featuredProducts.id,featuredProducts.name,featuredProducts.image,featuredProducts.description,featuredProducts.regular_price)">
            </ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <h5 style="font-size: 15px;text-align: -webkit-center;">{{featuredProducts.name}}</h5>
            </ion-item>
            <div>
              <div *ngIf="featuredProducts.regular_price">
                <h5 style="font-size: 13px;text-align: center;color: red;"> <span class="priceicon"
                    style="color: red;">Price : </span> <span class="priceicon">$</span>
                  {{featuredProducts.regular_price}} </h5>

                <ion-item>
                  <button ion-button full class="bg-thime btn-round btn-text"
                    style="margin-top: 3px;text-align: center;height: 40px;font-size: 10px;"
                    (click)="addToCart(featuredProducts.id,featuredProducts.name,featuredProducts.image,featuredProducts.description,featuredProducts.regular_price)">
                    Add To Cart
                  </button>
                </ion-item>
              </div>

              <div *ngIf="!featuredProducts.regular_price">
                <h5 style="font-size: 13px;text-align: center"> Price Not Available</h5>

                <ion-item>
                  <button ion-button full class="bg-thime btn-round btn-text"
                    style="margin-top: 3px; text-align: center;height: 40px;font-size: 10px;"
                    (click)="productDetailPage(featuredProducts.id,featuredProducts.name,featuredProducts.image,featuredProducts.description,featuredProducts.regular_price,featuredProducts.attribute.pa_make,featuredProducts.attribute.pa_model,featuredProducts.attribute.pa_year,featuredProducts.attribute.pa_yearfrom)">
                    Read More
                  </button>
                </ion-item>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>


  <pagination-controls (pageChange)="p = $event" previousLabel="Prev" nextLabel="Next"></pagination-controls>


</ng-template>


 



 


 

</ion-content>
  