

<ion-header>
  <ion-navbar>
      <button ion-button menuToggle style="display: block !important">
    <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png"></ion-icon>
  </button>

      <ion-title>Categories Details
          <span float-right>
            <!-- <ion-icon class="icon" (click)="wishlistPage()"><img src="assets/imgs/ic_my_wishlist.png" width="100%;"/></ion-icon>
            <ion-icon class="icon"  (click)="cartPage()" ><img src="assets/imgs/ic_my_cart.png" width="100%;" /></ion-icon> -->
            <ion-icon class="icon"  (click)="wishlistPage()" >
              <img src="assets/imgs/ic_my_wishlist.png" width="100%;" />
              <ion-badge class="icon add-icon" >{{countProductsWishList}}</ion-badge> 
            </ion-icon>
    
            <ion-icon class="icon"  (click)="cartPage()" >
              <img src="assets/imgs/ic_my_cart.png" width="100%;" />
              <ion-badge class="icon add-icon" >{{countProductsCart}}</ion-badge> 
            </ion-icon>
          </span>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content >

 

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing Product Categories Details."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="strData;else other_content">

    <ion-card-header >
      <ion-item lines="none">
        <ion-label style="color: black;margin-right: 8px;font-size: 13px;">{{strData}}</ion-label>
      </ion-item> 
  
          
    </ion-card-header>
  </ion-card>

  


  <ng-template #other_content>

   
    <ion-item>
      <ion-label>SORT BY </ion-label>
      <ion-select placeholder="Please select" value="Name" okText="Okay" cancelText="Dismiss" (ionChange)="sortDropDownValue(productCategoryInformation)" style="width: 200px;
      padding: 0px 10px;">
        <ion-option value="Name"  >Name</ion-option>
      
      </ion-select>
    </ion-item>
    
    <ion-grid class="product-grid" >
      <ion-row class="rowgrid" text-center>
        <ion-col col-6
          class="columngrid"
          *ngFor="let productCategory of productCategoryInformation"
         >
          <ion-card>
            <ion-card-header style="justify-content: left">
              <div
                class="img-box"
              >
                <img  [src]="productCategory.image"  style="width:200px;height:80px ;" (click)="productDetailPage(productCategory.id,productCategory.name,productCategory.image,productCategory.regular_price,productCategory.description,productCategory.attribute.pa_make,productCategory.attribute.pa_model,productCategory.attribute.pa_year)">

              </div>
              <ion-icon name="md-heart" class="text-light icon"></ion-icon>
            </ion-card-header>
            <ion-card-content>
          
             


           

              <div >
                <h5 style="font-size: 11px;text-align: -webkit-center;"> {{productCategory.name}}</h5> 
              </div>
              <div>
  
             
                <div *ngIf="productCategory.regular_price">     <!--If "product" exists-->
                  <h5 style="font-size: 12px;text-align: center;color: red;"  > <span class="priceicon" style="color: red;">Price : </span> <span class="priceicon">$</span> {{productCategory.regular_price}}  </h5>  
                  <div class="rateing">
                    <div class="card-btn">
                      <p style="width: 100%;" float-left>
                        <button
                          ion-button
                          full
                          class="bg-thime btn-round btn-text"
                          
                          
                          (click)="addToCart(productCategory.id,productCategory.name,productCategory.image,productCategory.description,productCategory.regular_price)"
  
                        >
                          Add To Cart
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
            
                <div *ngIf="!productCategory.regular_price">     <!--If "product" not exists-->
                  <h5 style="font-size: 11px;text-align: center;margin-top: 13px;"> Price Not Available</h5>  
                  <div class="rating" style="text-align: -webkit-center;margin-top: 11px;">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

                  </div>
              
               
                  <div class="rateing">
                    <div class="card-btn">
                      <p style="width: 100%;" float-left>
                        <button
                          ion-button
                          full
                          class="bg-thime btn-round btn-text"
                          
                          
                          (click)="productDetailPage(productCategory.id,productCategory.name,productCategory.image,productCategory.regular_price,productCategory.description,productCategory.attribute.pa_make,productCategory.attribute.pa_model,productCategory.attribute.pa_year)"  
                        >
                          Read More
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
            </div>


            






            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  

    
  </ng-template>










 


 

</ion-content>
  