<!--
  Generated template for the ClsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle style="display: block !important">
      <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png" />
      </ion-icon>
    </button>
    <ion-title>Detail
      <span float-right>
        <ion-icon class="icon-add" name="heart" style="margin-left: 12px;" (click)="wishlistPage()">
          <ion-badge id="notifications-badge" color="primary">{{countProductsWishlistLocalUpdated}}</ion-badge>
        </ion-icon>

        <ion-icon class="icon-add" name="cart" style="margin-left: 12px;" (click)="cartPage()">
          <ion-badge id="notifications-badge" color="primary">{{countProductsCartLocalUpdated}}</ion-badge>
        </ion-icon>
      </span>

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>




  <!-- <div *ngIf="isValid;else other_content">
    content here ...
  </div> -->


  <div *ngIf="!productCategoryInformation || productCategoryInformation.length === 0;else other_content">
    <p>No data found</p>
  </div>

<ng-template #other_content>
  <ion-item>
    <ion-label>SORT BY </ion-label>
    <ion-select placeholder="Please select" value="Name" okText="Okay" cancelText="Dismiss"
      (ionChange)="sortDropDownValue(productCategoryInformation)" style="width: 200px;padding: 0px 10px;">
      <ion-option value="Name">Name</ion-option>
    </ion-select>
  </ion-item>
 
  <ion-grid class="product-grid">
    <ion-row class="rowgrid" text-center>
      <ion-col col-6 class="columngrid" *ngFor="let categoryItem of productCategoryInformation |filter:searchText | paginate: {itemsPerPage: 10,currentPage: p}">
        <ion-card>
          <ion-card-header style="justify-content: left">
            <div class="img-box">
              <img [src]="categoryItem.image" style="width:200px;height:80px ;margin-top: 30px;"
                (click)="productDetailPage(categoryItem.id,categoryItem.name,categoryItem.image,categoryItem.regular_price,categoryItem.description,categoryItem.attribute.pa_make,categoryItem.attribute.pa_model,categoryItem.attribute.pa_year)">
            </div>
            <ion-icon name="md-heart" class="text-light icon" style="margin-top: -11px;"
            (click)="addToWishList(categoryItem.id,categoryItem.name,categoryItem.image,categoryItem.description,categoryItem.regular_price)">
          </ion-icon>
          </ion-card-header>
          <ion-card-content>

            <div>
              <!-- <h5 style="font-size: 10px;
              text-align: -webkit-center;
              margin-top: 6px;
              width: max-content;"> {{categoryItem.name}}
              </h5> -->
              <h5 style="font-size: 10px;text-align: center;;margin-top: 15px;"> {{categoryItem.name}}</h5>
            </div>
            <div>


              <div *ngIf="categoryItem.regular_price">
                <!--If "product" exists-->
                <h5 style="font-size: 10px;text-align: center;color: red;margin-top: 13px;"> <span class="priceicon"
                    style="color: red;">Price : </span> <span class="priceicon">$</span>
                  {{categoryItem.regular_price}} </h5>
                <div class="rateing">
                  <div class="card-btn">
                    <p style="width: 100%;font-size: 10px;" float-left>
                      <button ion-button full class="bg-thime btn-round btn-text" 
                       style="font-size: 9px;"
                        (click)="addToCart(categoryItem.id,categoryItem.name,categoryItem.image,categoryItem.description,categoryItem.regular_price)">
                        Add To Cart
                      </button>
                    </p>
                  </div> 
                </div>
              </div>

              <div *ngIf="!categoryItem.regular_price">
                <!--If "product" not exists-->
                <h5 style="font-size: 10px;text-align: center;color: red;margin-top: 13px;"> Price Not Available</h5>
                <div class="rateing">
                  <div class="card-btn">
                    <p style="width: 100%;font-size: 10px;" float-left>
                      <button ion-button full class="bg-thime btn-round btn-text" 
                      style="font-size: 9px;"
                        (click)="productDetailPage(categoryItem.id,categoryItem.name,categoryItem.image,categoryItem.regular_price,categoryItem.description,categoryItem.attribute.pa_make,categoryItem.attribute.pa_model,categoryItem.attribute.pa_year)">
                        Read More
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>









          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <pagination-controls (pageChange)="p = $event" previousLabel="Prev" nextLabel="Next"></pagination-controls>

</ng-template>





 




















</ion-content>