<ion-header class="bg-thime">
  <ion-navbar>
    <button ion-button menuToggle style="display: block !important;">
      <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png"></ion-icon>
    </button>
    <ion-title text-uppercase>AUTO PARTS
      <span float-right>
        <ion-icon class="icon" ><img src="assets/imgs/ic_my_wishlist.png" width="100%;"></ion-icon>
        <ion-icon class="icon" ><img src="assets/imgs/ic_my_cart.png" width="100%;"></ion-icon>
      </span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-light">
  <div class="col-md-4 col-xs-12">

   



  <!-- <div class="size" style="justify-content: center">
    <ion-item>
      <ion-label>Make</ion-label>
      <ion-select
        
        value="sortpopular"
        okText="Ok"
        cancelText="Cancel"
        (ionChange)="makeDropDownValue(makeValue)"
        [(ngModel)]="makeValue"
        >
        <ion-option *ngFor="let makeKey of makeList" >{{makeKey}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="size" style="justify-content: center">
    <ion-item>
      <ion-label>Model</ion-label>
      <ion-select 
        value="sortpopular"
        okText="Ok"
        cancelText="Cancel">
        <ion-option *ngFor="let modelKey of modelList" [value] = "modelKey" (ionSelect)="triggerMeModel(modelKey)" >{{modelKey}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="size" style="justify-content: center">
    <ion-item>
      <ion-label>SubModel</ion-label>
      <ion-select
        value="sortpopular"
        okText="Ok"
        cancelText="Cancel"
        [(ngModel)]="engineValue">
        <ion-option *ngFor="let engineKey of engineList" [value] = "engineKey" (ionSelect)="triggerMeEngine(engineKey)">{{engineKey}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="size" style="justify-content: center">
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-select
        value="sortpopular"
        okText="Ok"
        cancelText="Cancel"
        [(ngModel)]="yearValue">
        <ion-option *ngFor="let yearKey of yearList"  >{{yearKey}}</ion-option>
      </ion-select>


    </ion-item>
  </div> -->
  

   

      
  <div class="list">
		<ul>
			<li *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }">{{ makeList }}</li>
    </ul>
    <ion-card>
      <ion-label>{{makeList.result}}</ion-label>
    </ion-card>

		<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>








  

    
 

</div>   
 
  
</ion-content>
