<ion-header class="bg-thime">
  <ion-navbar>
    <button ion-button menuToggle style="display: block !important">
      <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png" /></ion-icon>
    </button>
    <ion-title style="text-align: center">View Cart

    </ion-title>
  </ion-navbar>
  <!-- <div class="custom-id">
   
    <ion-searchbar placeholder="Search any part here" ></ion-searchbar>
  </div> -->

</ion-header>

<ion-content class="bg-light">


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing Cart.">
    </ion-refresher-content>
  </ion-refresher>


  <!-- <ion-item *ngIf="!viewCartList.length && !productsLocalCart.length;else other_content">
    <h5 style="font-size: 12px;">{{strData}}</h5> 
  </ion-item> -->

  <ion-item *ngIf="!viewCartList.length && !productsLocalCart.length ;else other_content" lines="none">
    <h5 style="font-size: 12px;">{{strDataServer}}</h5>
  </ion-item>

  <!-- <ion-item *ngIf="!productsLocalCart.length ;else other_content1" lines="none">
    <h5 style="font-size: 12px;">{{strDataLocal}}</h5>
  </ion-item> -->



  <ng-template #other_content>

    <div class="pincod bg-white shadow-bottom cart-box" style=" padding: 16px 16px 16px 16px;margin-bottom: -31px">
      <ion-row style="margin-top: 8px" *ngFor="let productsLocal of productsLocalCart;let i = index"
        (click)="productcategoryDetailPage(productsLocal.ProductId,productsLocal.ProductName)">

        <ion-col col-4>
          <ion-list>
            <ion-item>
              <img [src]="productsLocal.ProductImage" style="width:200px;height:80px ;">
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-8 class="right-main-bar">

          <div class="row">
            <div class="block">{{productsLocal.ProductName}}</div>
            <ion-icon name="md-close" style="margin-left: 100px;margin-top: 5px;"
              (click)="removeProductLocally(i,productsLocal,productsLocal.ProductName)">
            </ion-icon>

          </div>

          <div style="margin-top: 6% ">
            QTY
            <span class="icon">
              <ion-icon name="md-remove-circle" style="margin-left: 10%; margin-top: 2%"
                (click)="decrementValueLocal(i,productsLocal.ProductId)">
              </ion-icon>
            </span>
            <span text-center style="margin-left: 10%;color: red;">{{productsLocal.ProductQuantity}}</span>

            <span class="icon" text-right>
              <ion-icon name="md-add-circle" (click)="incrementValueLocal(i,productsLocal.ProductId)"
                style="margin-left: 10%"></ion-icon>
            </span>
          </div>


          <div style="margin-top: 6%">
            <label> <span class="priceicon">Product Price </span>{{productsLocal.ProductRegularPrice}} <span
                class="priceicon">$</span></label>

          </div>
        </ion-col>
      </ion-row>

    </div>




    <div class="pincod bg-white shadow-bottom cart-box" style=" padding: 16px 16px 16px 16px;">
      <ion-row style="margin-top: 8px" *ngFor="let viewCart of viewCartList;let i = index"
        (click)="productcategoryDetailPage(viewCart.product_id,viewCart.name)">

        <ion-col col-4>
          <ion-list>
            <ion-item lines="none">
              <img [src]="viewCart.product_thumbnail" style="width:200px;height:80px ;">
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-8 class="right-main-bar">

          <div class="row">
            <div class="block">{{viewCart.name}}</div>
            <ion-icon name="md-close" style="margin-left: 37px;margin-top: 5px;"
              (click)="removeProductServer(viewCart.product_id,viewCart.name)">
            </ion-icon>

          </div>






          <div style="margin-top: 6% ">
            QTY
            <span class="icon">
              <ion-icon name="md-remove-circle" style="margin-left: 10%; margin-top: 2%"
                (click)="decrementValue(i,strDynamicId)">
              </ion-icon>
            </span>
            <span text-center style="margin-left: 10%;color: red;">{{viewCart.quantity}}</span>

            <span class="icon" text-right>
              <ion-icon name="md-add-circle" (click)="incrementValue(i,viewCart.product_id)" style="margin-left: 10%">
              </ion-icon>
            </span>
          </div>


          <div style="margin-top: 6%">
            <label> <span class="priceicon">Product Regular Price </span>{{viewCart.price}} <span
                class="priceicon">$</span></label>

          </div>
        </ion-col>
      </ion-row>

    </div>

    <div class="reating-review bg-white" padding style="margin-bottom: 15px">
      <div class="reating">
        <div class="select-section shadow-bottom" style="text-align: center">
          <ion-row class="ion-justify-content-center" style="justify-content: center">
            <button ion-button full class="bg-thime btn-round btn-text" style="max-width: 390px"
              (click)="updateShoppingCart(strTestProductId)" [disabled]="buttonDisabled">
              Update Cart
            </button>


          </ion-row>
        </div>
      </div>




     



      <ion-item>
        <ion-label style="float: left; font-size: 14px">Grand Total</ion-label>
        <ion-label style="float: right; color: red"> $ NZD {{strSubTotalAmount}}</ion-label>
      </ion-item>





      <div style="margin-top: 1px;">
        <ion-grid>
          <ion-row>
            <ion-col size="12" offset="4">
              <ion-item>
                <ion-label style="color: black;float: left">Shipping Charges</ion-label>
                <ion-select okText="Ok" cancelText="Cancel">
                  <ion-option selected value="brown" style="color: black" (ionSelect)="clickOptionLocal()">Local Pickup
                  </ion-option>
                  <ion-option value="blonde" style="float: right; color: black" (ionSelect)="clickOptionFlatRate()">Flat
                    Rate: $5.00</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-item>
        <button ion-button full class="bg-thime btn-round btn-text" style="max-width: 390px; float: none; height: 40px"
          (click)="checkOutPage()">


          Checkout
        </button>
      </ion-item>

    </div>

  </ng-template>

  <ng-template #other_content1>
    <div class="pincod bg-white shadow-bottom cart-box" style=" padding: 16px 16px 16px 16px;">
      <ion-row style="margin-top: 8px" *ngFor="let productsLocal of productsLocalCart;let i = index"
        (click)="productcategoryDetailPage(productsLocal.ProductId,productsLocal.ProductName)">

        <ion-col col-4>
          <ion-list>
            <ion-item>
              <img [src]="productsLocal.ProductImage" style="width:200px;height:80px ;">
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-8 class="right-main-bar">

          <div class="row">
            <div class="block">{{productsLocal.ProductName}}</div>
            <ion-icon name="md-close" style="margin-left: 37px;margin-top: 5px;"
              (click)="removeProductLocally(i,productsLocal,productsLocal.ProductName)">
            </ion-icon>

          </div>

          <div style="margin-top: 6% ">
            QTY
            <span class="icon">
              <ion-icon name="md-remove-circle" style="margin-left: 10%; margin-top: 2%"
                (click)="decrementValueLocal(i,productsLocal.ProductId)">
              </ion-icon>
            </span>
            <span text-center style="margin-left: 10%;color: red;">{{productsLocal.ProductQuantity}}</span>

            <span class="icon" text-right>
              <ion-icon name="md-add-circle" (click)="incrementValueLocal(i,productsLocal.ProductId)"
                style="margin-left: 10%"></ion-icon>
            </span>
          </div>


          <div style="margin-top: 6%">
            <label> <span class="priceicon">Product Price </span>{{productsLocal.ProductRegularPrice}} <span
                class="priceicon">$</span></label>

          </div>
        </ion-col>
      </ion-row>

    </div>

    <div class="reating-review bg-white" padding style="margin-top: 30px;">
      <div class="reating">
        <div class="select-section shadow-bottom" style="text-align: center">
          <ion-row class="ion-justify-content-center" style="justify-content: center">
            <button ion-button full class="bg-thime btn-round btn-text" style="max-width: 390px"
              (click)="updateShoppingCart(strTestProductId)" [disabled]="buttonDisabled">
              Update Cart
            </button>

            <button ion-button full class="bg-thime btn-round btn-text" style="max-width: 390px" (click)="clearCart()">
              Clear Cart
            </button>
          </ion-row>
        </div>
      </div>

      <ion-item>
        <ion-label style="float: left; font-size: 14px">Grand Total</ion-label>
        <ion-label style="float: right; color: red"> $ NZD {{strSubTotalAmount}}</ion-label>
      </ion-item>

    </div>

  </ng-template>
</ion-content>