<ion-header class="bg-thime">
  <ion-navbar>
    <button ion-button menuToggle style="display: block !important">
      <ion-icon class="menu-icon"
        ><img src="assets/imgs/ic_menu.png"
      /></ion-icon>
    </button>

    <!-- <p *ngIf="result.length === 0">No matching Result found</p>   -->
    <!-- <div *ngIf="featuredProductsList; else elseStatement" class="checkFeaturedProducts">  -->
      <!-- <ng-template *ngIf="role === 'admin';then asscom else unit"></ng-template> -->
   
  
    <ion-title >Products

     
      <!-- <div *ngIf="countProductsCartLocal; else elseStatement1">
        <span float-right>
          <ion-icon class="icon"  (click)="wishlistPage()" >
            <img src="assets/imgs/ic_my_wishlist.png" width="100%;" />
            <ion-badge class="icon add-icon" >{{countProductsWishList}}</ion-badge> 
          </ion-icon>
  
          <ion-icon class="icon"  (click)="cartPage()" >
            <img src="assets/imgs/ic_my_cart.png" width="100%;" />
            <ion-badge class="icon add-icon" >{{countProductsCartLocal}}</ion-badge> 
          </ion-icon>
        </span> 
      </div>

      <ng-template #elseStatement1>
        <ion-icon class="icon"  (click)="cartPage()" >
          <img src="assets/imgs/ic_my_cart.png" width="100%;" />
          <ion-badge class="icon add-icon" >{{countProductsCart}}</ion-badge> 
        </ion-icon>
      </ng-template> -->
      

        
    
     


     
      <span float-right>
        <!-- <ion-icon class="icon"  (click)="wishlistPage()" >
          <img src="assets/imgs/ic_my_wishlist.png" width="100%;" />
          <ion-badge class="icon add-icon" >{{countProductsWishList}}</ion-badge> 
        </ion-icon>
        <ion-icon class="icon"  (click)="cartPage()"  >
          <img src="assets/imgs/ic_my_cart.png" width="100%;" />
          <ion-badge class="icon add-icon" >{{countProductsCartLocal}}</ion-badge> 
        </ion-icon> -->
        <!-- <ion-icon class="icon"  (click)="cartPage()"  >
          <img src="assets/imgs/ic_my_wishlist.png" width="100%;" />
          <ion-badge class="icon add-icon" >{{countProductsWishlistLocalUpdated}}</ion-badge> 
        </ion-icon>

        <ion-icon class="icon"  (click)="cartPage()"  >
          <img src="assets/imgs/ic_my_cart.png" width="100%;" />
          <ion-badge class="icon add-icon" >{{countProductsWishlistLocalUpdated}}</ion-badge> 
        </ion-icon> -->
        <!-- <ion-badge>{{countProductsWishlistLocalUpdated}}</ion-badge>
        <ion-badge>{{countProductsCartLocalUpdated}}</ion-badge> -->


        <!-- <ion-label>{{viewCartList.length}}</ion-label> -->

        <ion-icon name="cart" style="margin-left: 12px;" (click)="wishlistPage()">
          <ion-badge id="notifications-badge" color="primary">{{countProductsWishlistLocalUpdated}}</ion-badge>
        </ion-icon> 
        
        <ion-icon name="cart" style="margin-left: 12px;" (click)="cartPage()">
          <ion-badge id="notifications-badge" color="primary">{{countProductsCartLocalUpdated}}</ion-badge>
        </ion-icon> 



      
     
      </span>
     
    </ion-title>

    
  </ion-navbar>
  <div class="custom-id"  >
    <ion-item class="custom" >
      <!-- <ion-select
        placeholder="All"
        value="value"
        okText="Ok"
        cancelText="Cancel"
        style="margin-left: 1px"
        (ionChange)="getCategories(value)"
        [(ngModel)]="value"
        (click)="testValue()"
       >
        <ion-option  *ngFor="let productKey of productCategoryList"  (click)="testValue1()" >{{productKey.name}}</ion-option>
      </ion-select> -->
      <ion-select  
          (ionChange)="getOuterName()" 
          [(ngModel)]="companyName" 
          placeholder = "All Products" >
        <ion-option *ngFor="let companies of productCategoryList" 
          [value]="companies.catId" >
          {{companies.name}}
        </ion-option>
      </ion-select>
      <ion-icon name="md-search" class="text-light icon"></ion-icon>
    </ion-item>
    <ion-searchbar  
   
      placeholder="Search Products"
      (click)="productDetailPage1(companyName)">
    </ion-searchbar>
  </div>  


  <!-- <ion-grid class="product-grid"  >
    <ion-row class="rowgrid" text-center style="height: 300px;" *ngFor="let productCategoryGrid of productCategoryList">
      <ion-col col-6
        class="columngrid"
        
        (click)="itemdetailPage(productCategoryGrid.catId)">
        <ion-card>  
          <ion-card-header style="justify-content: left">
            <div
              class="img-box">
              <ion-option  *ngFor="let productKey of productCategoryList"  >{{productKey.name}}</ion-option>
            </div>
          </ion-card-header>
          <ion-card-content>
           
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  
</ion-header>

<ion-content class="bg-light">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing Products."
    >
    </ion-refresher-content>
  </ion-refresher>


  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <div class="banner-text">
        <p [innerHTML]="slide.description"></p>
        <small [innerHTML]="slide.smalltext"></small>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      </div>
    </ion-slide>
  </ion-slides>

  <p (click)="viewAllCategories()">
    Featured Items
    <small class="bg-thime btn-round text-white" float-right> View All </small>
  </p>

  <!-- <p (click)="viewAllCategories()">
    Featured Items--
    <small class="bg-thime btn-round text-white" float-right>{{countProductsWishlistLocalUpdated}} </small>
  </p>
  <p (click)="viewAllCategories()">
    Featured Items--
    <small class="bg-thime btn-round text-white" float-right>{{countProductsCartLocalUpdated}} </small>
  </p> -->

  

  <div class="card-main">
    <ion-card>
      <ion-card-header (click)="toggleAccordionVehicle()">
        <ion-list>
          <ion-item>
            <button ion-button clear small icon-only item-right>
              <ion-icon color="light" [name]="icon"></ion-icon>
            </button>

            <h6 >SHOP BY VEHICLE</h6>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-card-content #cc>
        <div class="select-section shadow-bottom">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" offset="4">
              <div class="size" style="justify-content: center">
                <ion-item>
                  <ion-select
                    placeholder="MAKE"
                    value="sortpopular"
                    okText="Ok"
                    cancelText="Cancel"
                    (ionChange)="makeDropDownValue(makeValue)"
                    [(ngModel)]="makeValue"
                    >
                    <ion-option *ngFor="let makeKey of makeList" >{{makeKey}}</ion-option>
                  
                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="select-section shadow-bottom">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" offset="4">
              <div class="size" style="justify-content: center">
                <ion-item>
                  <ion-select
                    placeholder="MODEL"
                    value="sortpopular"
                    okText="Ok"
                    cancelText="Cancel"
                  
                    >
                    <!-- <ion-option value="sortpopular">popularity</ion-option>
                    <ion-option value="sortaveragerating">rating</ion-option>
                    <ion-option value="sortlatest">latest</ion-option>
                    <ion-option value="sortpricelowhigh" style="max-width: 100%">low to high</ion-option > -->
                      <!-- <ion-option *ngFor="let modelKey of modelList" >{{modelKey}}</ion-option> -->
                      <ion-option *ngFor="let modelKey of modelList" [value] = "modelKey" (ionSelect)="triggerMeModel(modelKey)" >{{modelKey}}</ion-option>

                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="select-section shadow-bottom">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" offset="4">
              <div class="size" style="justify-content: center">
                <ion-item>
                  <ion-select
                    placeholder="SUB MODEL"
                    value="sortpopular"
                    okText="Ok"
                    cancelText="Cancel"
                    [(ngModel)]="engineValue">
                    <!-- <ion-option value="sortpopular">popularity</ion-option>
                    <ion-option value="sortaveragerating">rating</ion-option>
                    <ion-option value="sortlatest">latest</ion-option>
                    <ion-option value="sortpricelowhigh" style="max-width: 100%">low to high</ion-option> -->
                    <!-- <ion-option *ngFor="let engineKey of engineList" >{{engineKey}}</ion-option> -->

                    <ion-option *ngFor="let engineKey of engineList" [value] = "engineKey" (ionSelect)="triggerMeEngine(engineKey)">{{engineKey}}</ion-option>

                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="select-section shadow-bottom">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" offset="4">
              <div class="size" style="justify-content: center">
                <ion-item>
                  <ion-select
                    placeholder="YEAR"
                    value="sortpopular"
                    okText="Ok"
                    cancelText="Cancel"
                    [(ngModel)]="yearValue">
                    <!-- <ion-option value="sortpopular">popularity</ion-option>
                    <ion-option value="sortaveragerating">rating</ion-option>
                    <ion-option value="sortlatest">latest</ion-option>
                    <ion-option value="sortpricelowhigh" style="max-width: 100%">low to high</ion-option> -->
                    <!-- <ion-option *ngFor="let yearKey of yearList" >{{yearKey}}</ion-option> -->
                    <ion-option *ngFor="let yearKey of yearList"  >{{yearKey}}</ion-option>

                  </ion-select>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="select-section shadow-bottom">
          <ion-row
            class="ion-justify-content-center"
            style="2px 10px !important;"
          >
            <button ion-button full class="bg-thime btn-round btn-text"
            (click)="searchData(makeValue,strTestValue2,strTestValue3)">
              Search 
            </button>
          </ion-row>
        </div>  
      </ion-card-content>
    </ion-card>
  </div>


  <div class="card-main">
    <ion-card>
      <ion-card-header (click)="toggleAccordionCategory()">
        <ion-list>
          <ion-item>
            <button ion-button clear small icon-only item-right>
              <ion-icon color="light" [name]="icon"></ion-icon>
            </button>

            <h6>SHOP BY CATEGORY</h6>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-card-content #cc1>
        <div class="select-section shadow-bottom">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" offset="4">
              <div class="size" style="justify-content: center;background: white;">

                <ion-grid class="product-grid" style="margin-top: 8px;">
                  <ion-row class="rowgrid">
                    <ion-col
                      class="columngrid"
                      *ngFor="let featuredProductCategories of featuredProductCategoryList"
                      (click)="productcategoryDetailPage(featuredProductCategories.catId,featuredProductCategories.url)"
                      style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
              
                     
                      <ion-card >
                        
              
                        <ion-card-header style="justify-content: left">
                          <div 
                            class="img-box"
                           
                           >

                            <!-- <img src="assets/imgs/categoryfirst.png"  style="width:200px;height:80px ;"> -->

                            <img  [src]="featuredProductCategories.thumbnail"  style="width:200px;height:80px;margin-top: 6px">

                         
                              
                          </div>
                        </ion-card-header>
                        <ion-card-content>
                      
                          <ion-item >
                            <h5 style="font-size: 14px;text-align: -webkit-center;margin-top: 7px;">{{featuredProductCategories.name}}</h5> 
                          </ion-item>
                          <div>
                            <div *ngIf="featuredProductCategories.regular_price">     <!--If "product" exists-->
                              <h5 style="font-size: 12px;text-align: center;"  > <span class="priceicon">Price : </span>  <span class="priceicon">$</span> {{featuredProductCategories.regular_price}} </h5>  
                              <!-- <div class="rateing">
                                <div class="card-btn">  
                                  <p class="" float-left>
                                    <button
                                      ion-button
                                      full
                                      class="bg-thime btn-round btn-text"
                                      style="margin-top: 3px; width: 150px;text-align: center;"
                                    >
                                      Add To Cart
                                    </button>
                                  </p>
                                </div>
                              </div> -->
                            </div>


                             <!--If "product" not exists-->
                        
                            <div *ngIf="!featuredProductCategories.regular_price" style="text-align: -webkit-center;">    
                              <!-- <span >☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span> -->
                              <div class="rateing">
                                <div class="card-btn">
                                   <p class="" float-left>
                                    <!-- <button
                                      ion-button
                                      full
                                      class="bg-thime btn-round btn-text"
                                      style="margin-top: 3px; width: 150px;text-align: center;"
                                    >
                                       More Info--
                                    </button> -->
                                    
                                  </p> 
                                  <!-- <p style="font-size: 11px;text-align: -webkit-center;">{{featuredProductCategories.name}}</p> -->
                                  <!-- <ion-item >
                                    <h5 style="font-size: 11px;text-align: -webkit-center;">{{featuredProductCategories.name}}</h5> 
                                  </ion-item> -->
                                </div>
                              </div>
                            </div> 
                        </div>
              
                        
              
                         
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
              
                
                  </ion-row>
                </ion-grid>
              
              </div>
            </ion-col>
          </ion-row>
        </div>
     

        <!-- <div class="select-section shadow-bottom">
          <ion-row
            class="ion-justify-content-center"
           
          >
            <button ion-button full class="bg-thime btn-round btn-text">
              Shop Now
            </button>
          </ion-row>
        </div>   -->
      </ion-card-content>
    </ion-card>
  </div>

  

  <!-- <div class="shorting-bar">
    <ion-item>
      <div class="one">
         <div class="one1">
            <ion-icon name="code-working" style="margin-top: 10px;"></ion-icon>
             <ion-item class="custom short">
              <ion-select
                placeholder="SORT BY"
                value="MAKE"
                okText="Ok"
                cancelText="Cancel"
                style="color: red;"
                class="ion-select"
                (ionChange)="sortDropDownValue(featuredProductCategoryList)">
                <ion-option value="NAME">MODEL</ion-option>
                <ion-option value="PRICE">PRICE</ion-option>
                <ion-option value="BRAND">BRAND</ion-option>
                <ion-option value="POSITION" >POSITION</ion-option>
              </ion-select>
        
              <ion-icon name="md-search" class="text-light icon"></ion-icon>
            </ion-item> 
             </div>   

        
        <div class="two2" (click)="hide()">
          <ion-icon
            ios="ios-funnel"
            md="md-funnel"
            role="img"
            class="icon icon-ios ion-ios-funnel item-icon"
            aria-label="funnel"  
            ng-reflect-ios="ios-funnel"
            ng-reflect-md="md-funnel"
          ></ion-icon
          >FILTER 
        </div>
        
      </div>

      <div class="two">
        <ion-icon ios="ios-grid" md="md-grid" (click)="gridView()"></ion-icon>
        <ion-icon
          ios="ios-list-box"
          md="md-list-box"
          (click)="listView()"
        ></ion-icon>
      </div>
    </ion-item>
  </div> -->
  <div class="select-section shadow-bottom" *ngIf="hideMe">
    <ion-row class="filter-bar">
      <ion-col col-3>
        <div class="size">
          <ion-item>
            <ion-select  interface="action-sheet">
              <ion-option selected value="mute">Brakes</ion-option>
              <ion-option value="enable">Suspensions</ion-option>
          </ion-select>
          </ion-item>  
        </div>
      </ion-col>
      <ion-col col-3>
        <div class="size">
          <ion-item>
            <ion-select interface="action-sheet">
              <ion-option selected value="mute">Brakes</ion-option>
              <ion-option value="enable">Suspensions</ion-option>
            </ion-select>
          </ion-item>  
        </div>
      </ion-col>
      <ion-col col-3>
        <div class="size">
          <ion-item>
            <ion-select interface="action-sheet">
              <ion-option selected value="mute">Brakes</ion-option>
              <ion-option value="enable">Suspensions</ion-option>
            </ion-select>
          </ion-item>  
        </div>
      </ion-col>
      <ion-col col-3>
        <div class="size">
          <ion-item>
            <ion-select interface="action-sheet">
              <ion-option selected value="mute">Brakes</ion-option>
              <ion-option value="enable">Suspensions</ion-option>
            </ion-select>
          </ion-item>  
        </div>
      </ion-col>
    </ion-row>
  </div>

 


   <div *ngIf="featuredProductsList; else elseStatement" class="checkFeaturedProducts"> 
</div> 
<ng-template #elseStatement style="margin-top: 10px;"> 
    No Product Available
</ng-template> 

<ng-container *ngIf="( featuredProductsList | filter : localSearchProduct) as result">

  
  
  <p *ngIf="result.length === 0">No matching Result found</p>  
</ng-container>

  <ion-grid class="product-grid" style="margin-top: 15px;">
    <ion-row class="rowgrid">
      <ion-col
        class="columngrid"
        *ngFor="let featuredProducts of featuredProductsList | filter:localSearchProduct">

       
        <ion-card >
          

          <ion-card-header style="justify-content: left">
            <div 
              class="img-box"
              (click)="productDetailPage(featuredProducts.id,featuredProducts.name,featuredProducts.regular_price)">
              <img  [src]="featuredProducts.image"  style="width:200px;height:80px ;">
            </div>
            <ion-icon    name="md-heart" class="text-light icon" (click)="addToWishList(featuredProducts.id,featuredProducts.name,featuredProducts.image,featuredProducts.description,featuredProducts.regular_price)"></ion-icon>
         
          

           
          </ion-card-header>
          <ion-card-content>
  
           
        
            <ion-item >
              <h5 style="font-size: 11px;text-align: -webkit-center;">{{featuredProducts.name}}</h5> 
            </ion-item>
            <div>
              <div *ngIf="featuredProducts.regular_price">     <!--If "product" exists-->
                <h5 style="font-size: 12px;text-align: center;color: red;"  > <span class="priceicon" style="color: red;">Price : </span> <span class="priceicon">$</span> {{featuredProducts.regular_price}}  </h5>  
                <div class="rateing">
                  <div class="card-btn">
                    <p style="width: 100%;" float-left>
                      <button
                        ion-button
                        full
                        class="bg-thime btn-round btn-text"
                        
                        
                        (click)="addToCart(featuredProducts.id,featuredProducts.name,featuredProducts.image,featuredProducts.description,featuredProducts.regular_price)"

                      >
                        Add To Cart
                      </button>
                    </p>
                  </div>
                </div>
              </div>

          
          
              <div *ngIf="!featuredProducts.regular_price">     <!--If "product" not exists-->
                <h5 style="font-size: 12px;text-align: center"> Price Not Available</h5>  

                <div class="rateing">
                  <div class="card-btn">
                    <p class="" float-left>
                      <button
                        ion-button
                        full
                        class="bg-thime btn-round btn-text"
                        style="margin-top: 3px; width: 150px;text-align: center;"
                        (click)="readMoreLocal(featuredProducts.id,featuredProducts.name,featuredProducts.regular_price)"
                      >
                        Read More
                      </button>
                    </p>
                  </div>
                </div>
              </div>
          </div>

          

            
          </ion-card-content>
        </ion-card>
      </ion-col>

  
    </ion-row>
  </ion-grid>

  
      <!-- <ion-item>
        <ion-label>Make</ion-label>
        <ion-select [(ngModel)]="makeValue"  (ionChange)="makeDropDownValue(makeValue)">
          <ion-option *ngFor="let key of makeList" >{{key}}</ion-option>
        </ion-select>
    
      </ion-item>


     


      <ion-item>
        <ion-label>Model</ion-label>
        <ion-select [(ngModel)]="modelValue" (ionChange)="modelDropDownValue(modelValue)" >
          <ion-option *ngFor="let key of modelList">{{makeValue}}</ion-option>
        </ion-select>
      </ion-item> -->

       <!-- <ion-item>
        <ion-label>Model</ion-label>
        <ion-select [(ngModel)]="makeValue" (ionChange)="modelDropDownValue(makeValue)">
          <ion-option *ngFor="let key of makeList">{{makeValue}}</ion-option>
          
        </ion-select>
        <ion-label>Length {{makeList.length}}</ion-label>
      </ion-item> -->

 

  
</ion-content>
